CollegeExamFreeReport/bin/Debug/DevComponents.DotNetBar2.dll
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.csprojResolveAssemblyReference.cache
CollegeExamFreeReport/obj/Debug/CoreCompileInputs.cache
CollegeExamFreeReport/bin/Debug/CollegeExamFreeReport.dll
CollegeExamFreeReport/bin/Debug/CollegeExamFreeReport.pdb
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.Properties.Resources.resources
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.csproj.FileListAbsolute.txt
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.csproj.GenerateResource.Cache
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.dll
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.pdb
CollegeExamFreeReport/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CollegeExamFreeReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CollegeExamFreeReport/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CollegeExamFreeReport/obj/Debug/CollegeExamFreeReport.Report_priority.resources
